Source: cupsys
Priority: optional
Section: net
Maintainer: Debian CUPS Maintainers <pkg-cups-devel@lists.alioth.debian.org>
Standards-Version: 3.7.2
Build-Depends: libpam0g-dev, libtiff4-dev, libjpeg62-dev, zlib1g-dev, libpng12-dev, libslp-dev, libgnutls-dev, libpaper-dev, libldap2-dev, debhelper (>= 5.0), po-debconf, cdbs (>= 0.4.27), sharutils, dpatch (>= 1.11), libdbus-1-dev, libkrb5-dev, libavahi-compat-libdnssd-dev
Uploaders: Kenshi Muto <kmuto@debian.org>, Martin Pitt <mpitt@debian.org>, Roger Leigh <rleigh@debian.org>, Martin-Éric Racine <q-funk@iki.fi>, Masayuki Hatta (mhatta) <mhatta@debian.org>, Jeff Licquia <licquia@debian.org>

Package: libcupsys2
Priority: optional
Section: libs
Architecture: any
Depends: ${shlibs:Depends}
Suggests: cupsys-common
Replaces: cupsys-client (<= 1.1.10-2)
Conflicts: gs-esp (<< 7.05.6-2), cupsys-driver-gimpprint (<< 4.2.5-3), cupsys (<< 1.2.1)
Description: Common UNIX Printing System(tm) - libs
 The Common UNIX Printing System (or CUPS(tm)) is a printing system and 
 general replacement for lpd and the like.  It supports the Internet 
 Printing Protocol (IPP), and has its own filtering driver model for 
 handling various document types.
 .
 This package provides the base shared libraries for CUPS.
 .
 The terms "Common UNIX Printing System" and "CUPS" are trademarks of
 Easy Software Products (www.easysw.com), and refer to the original
 source packages from which these packages are made.

Package: libcupsimage2
Priority: optional
Section: libs
Architecture: any
Depends: ${shlibs:Depends}
Replaces: libcupsys2 (<= 1.1.18-2)
Conflicts: cupsys (<< 1.2.1)
Description: Common UNIX Printing System(tm) - image libs
 The Common UNIX Printing System (or CUPS(tm)) is a printing system and 
 general replacement for lpd and the like.  It supports the Internet 
 Printing Protocol (IPP), and has its own filtering driver model for 
 handling various document types.
 .
 This package provides the image libraries for handling the CUPS
 raster format.
 .
 The terms "Common UNIX Printing System" and "CUPS" are trademarks of
 Easy Software Products (www.easysw.com), and refer to the original
 source packages from which these packages are made.

Package: cupsys
Priority: optional
Section: net
Architecture: any
Depends: ${shlibs:Depends}, debconf (>= 1.2.9) | debconf-2.0, poppler-utils | xpdf-utils, perl-modules, procps, ghostscript, lsb-base (>= 3), cupsys-common,  ssl-cert (>= 1.0.11), adduser
Replaces: cupsys-pstoraster
Conflicts: cupsys-pstoraster (<< 2)
Recommends: cupsys-client, cups-pdf, smbclient (>= 3.0.9), foomatic-filters
Suggests: cupsys-bsd, cupsys-driver-gutenprint, foomatic-filters-ppds, hplip, xpdf-korean | xpdf-japanese | xpdf-chinese-traditional | xpdf-chinese-simplified
Description: Common UNIX Printing System(tm) - server
 The Common UNIX Printing System (or CUPS(tm)) is a printing system and 
 general replacement for lpd and the like.  It supports the Internet 
 Printing Protocol (IPP), and has its own filtering driver model for 
 handling various document types.
 .
 This package provides the CUPS scheduler/daemon and related files.
 .
 The terms "Common UNIX Printing System" and "CUPS" are trademarks of
 Easy Software Products (www.easysw.com), and refer to the original
 source packages from which these packages are made.

Package: cupsys-client
Priority: optional
Section: net
Architecture: any
Depends: ${shlibs:Depends}, cupsys-common, adduser
Conflicts: lprng
Suggests: cupsys, kdeprint, gtklp, cupsys-pt, xpp, cupsys-bsd
Replaces: cupsys (<= 1.1.18-3)
Description: Common UNIX Printing System(tm) - client programs (SysV)
 The Common UNIX Printing System (or CUPS(tm)) is a printing system and 
 general replacement for lpd and the like.  It supports the Internet 
 Printing Protocol (IPP), and has its own filtering driver model for 
 handling various document types.
 .
 This package provides the System V style print client programs.
 .
 The terms "Common UNIX Printing System" and "CUPS" are trademarks of
 Easy Software Products (www.easysw.com), and refer to the original
 source packages from which these packages are made.

Package: libcupsys2-dev
Priority: optional
Section: libdevel
Architecture: any
Depends: libcupsys2 (= ${binary:Version}), libgnutls-dev, libkrb5-dev
Provides: libcupsys-dev
Conflicts: libcupsys1-dev, libcupsys-dev, cupsys (<< 1.1.22-3)
Replaces: libcupsys1-dev, libcupsys-dev, cupsys (<< 1.1.22-3)
Description: Common UNIX Printing System(tm) - development files
 The Common UNIX Printing System (or CUPS(tm)) is a printing system and 
 general replacement for lpd and the like.  It supports the Internet 
 Printing Protocol (IPP), and has its own filtering driver model for 
 handling various document types.
 .
 This package provides the files necessary for developing CUPS-aware
 applications and CUPS drivers.
 .
 The terms "Common UNIX Printing System" and "CUPS" are trademarks of
 Easy Software Products (www.easysw.com), and refer to the original
 source packages from which these packages are made.

Package: libcupsimage2-dev
Priority: optional
Section: libdevel
Architecture: any
Depends: libcupsimage2 (= ${binary:Version}), libcupsys2-dev (= ${binary:Version}), libpng-dev, libtiff4-dev, libjpeg62-dev, zlib1g-dev
Provides: libcupsimage-dev
Conflicts: libcupsimage-dev
Replaces: libcupsys1-dev, libcupsimage-dev, libcupsys2-dev (<= 1.1.18-2)
Description: Common UNIX Printing System(tm) - image development files
 The Common UNIX Printing System (or CUPS(tm)) is a printing system and 
 general replacement for lpd and the like.  It supports the Internet 
 Printing Protocol (IPP), and has its own filtering driver model for 
 handling various document types.
 .
 This package provides the files necessary for developing applications
 that use the CUPS raster image format.
 .
 The terms "Common UNIX Printing System" and "CUPS" are trademarks of
 Easy Software Products (www.easysw.com), and refer to the original
 source packages from which these packages are made.

Package: cupsys-bsd
Priority: extra
Section: net
Architecture: any
Depends: ${shlibs:Depends}, cupsys-client (= ${binary:Version}), debconf | debconf-2.0, update-inetd, cupsys-common
Recommends: cupsys
Conflicts: lpr, lprng, manpages-fr (<< 0.9.5-1)
Provides: lpr
Replaces: lpr, cupsys (<= 1.1.15-2), manpages-fr (<< 0.9.5-1)
Description: Common UNIX Printing System(tm) - BSD commands
 The Common UNIX Printing System (or CUPS(tm)) is a printing system and 
 general replacement for lpd and the like.  It supports the Internet 
 Printing Protocol (IPP), and has its own filtering driver model for 
 handling various document types.
 .
 This package provides the BSD commands for interacting with CUPS.  It
 is provided separately to allow CUPS to coexist with other printing
 systems (to a small degree).
 .
 The terms "Common UNIX Printing System" and "CUPS" are trademarks of
 Easy Software Products (www.easysw.com), and refer to the original
 source packages from which these packages are made.

Package: cupsys-common
Priority: optional
Section: net
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}
Conflicts: cupsys (<< 1.2.1-4)
Replaces: cupsys (<< 1.2.1-4)
Description: Common UNIX Printing System(tm) - common files
 The Common UNIX Printing System (or CUPS(tm)) is a printing system and 
 general replacement for lpd and the like.  It supports the Internet 
 Printing Protocol (IPP), and has its own filtering driver model for 
 handling various document types.
 .
 This package provides common files for CUPS server and client packages.
 .
 The terms "Common UNIX Printing System" and "CUPS" are trademarks of
 Easy Software Products (www.easysw.com), and refer to the original
 source packages from which these packages are made.

Package: cupsys-dbg
Priority: extra
Section: libdevel
Architecture: any
Depends: cupsys (= ${binary:Version})
Description: Common UNIX Printing System(tm) - debugging symbols
 The Common UNIX Printing System (or CUPS(tm)) is a printing system and 
 general replacement for lpd and the like.  It supports the Internet 
 Printing Protocol (IPP), and has its own filtering driver model for 
 handling various document types.
 .
 This package provides the debugging symbols of CUPS.
 .
 The terms "Common UNIX Printing System" and "CUPS" are trademarks of
 Easy Software Products (www.easysw.com), and refer to the original
 source packages from which these packages are made.
