#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# GNU copyright 1997 to 1999 by Joey Hess.
#
# Modified to make a template file for a multi-binary package with separated
# build-arch and build-indep targets  by Bill Allombert 2001

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

# This has to be exported to make some magic below work.
export DH_OPTIONS

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/autotools.mk
include /usr/share/cdbs/1/rules/dpatch.mk

unpatch: deapply-dpatches

DEB_CONFIGURE_EXTRA_FLAGS := --with-optim=$(DEB_OPTFLAGS) --with-cups-group=lpadmin --mandir=/usr/share/man --with-docdir=/usr/share/cups/doc-root --enable-slp --enable-libpaper --enable-ssl --enable-gnutls --disable-openssl --enable-threads
DEB_MAKE_INSTALL_TARGET := install BUILDROOT=$(DEB_DESTDIR)
#DESTDIR=$(DEB_DESTDIR) BINDIR=$(DEB_DESTDIR)/usr/bin SBINDIR=$(DEB_DESTDIR)/usr/sbin INCLUDEDIR=$(DEB_DESTDIR)/usr/include LIBDIR=$(DEB_DESTDIR)/usr/lib SERVERBIN=$(DEB_DESTDIR)/usr/lib/cups SERVERROOT=$(DEB_DESTDIR)/etc/cups BUILDROOT=$(DEB_DESTDIR)

clean::
	-rm core
	-$(MAKE) clean
	-rm man/*.gz man/*.z man/*.1 man/*.5 man/*.8
	-rm cups/libcups.so
	-rm cups/libcups.a
	-rm filter/libcupsimage.so
	-rm filter/libcupsimage.a
	-rm pdftops/libxpdf.a
	-rm scheduler/testdirsvc scheduler/testdirsvc.o
	-rm cups/testfile cups/testfile.o cups/http-addrlist.o
	-rm backend/http
	-rm systemv/disable systemv/enable systemv/reject
	-rm cups-config cups.list conf/cupsd.conf conf/pam.conf
	-rm config.log config.h config.cache config.status Makedefs cups.sh
	-rmdir --ignore-fail-on-non-empty debian/patched

common-install-prehook-impl::
	(cd fonts && $(MAKE) install BUILDROOT=$(DEB_DESTDIR))
$(patsubst %,install/%,$(DEB_ALL_PACKAGES)) :: install/%:
	dh_movefiles -p$(cdbs_curpkg)
binary-post-install/cupsys::
	mv debian/cupsys/usr/lib/cups/backend/* debian/cupsys/usr/lib/cups/backend-available
	install -o root -g root -m 644 doc/favicon.ico debian/cupsys/usr/share/cups/doc-root
#	(cd $(DEB_DESTDIR)/../cupsys/usr && uudecode -o - $(DEB_DESTDIR)/../patches/ja.tar.gz.uu | tar zxf -)
	(cd $(DEB_DESTDIR) && mv var/spool var/log $(DEB_DESTDIR)/../cupsys/var)
	(mkdir -p $(DEB_DESTDIR)/../cupsys/var/lib/cups && install -o root -g root -m 711 -d $(DEB_DESTDIR)/../cupsys/var/lib/cups/certs)
	(cd $(DEB_DESTDIR)/../cupsys/etc/cups && ln -sf /var/lib/cups/certs certs)
	(cd $(DEB_DESTDIR) && mv etc/cups/interfaces etc/cups/ppd $(DEB_DESTDIR)/../cupsys/etc/cups)
	(cd $(DEB_DESTDIR)/../cupsys/usr/share/doc/cupsys && ln -sf /usr/share/cups/doc-root online-docs)
	(cd $(DEB_DESTDIR)/../cupsys/usr/share/man && mv man1/backend.1 man1/cups-backend.1 && mv man1/filter.1 man1/cups-filter.1)
	(cd $(DEB_DESTDIR)/../cupsys/etc/cups && ln -s ../xpdf/xpdfrc pdftops.conf)
	(install -m 755 -o root -g root $(DEB_DESTDIR)/../pdftops $(DEB_DESTDIR)/../cupsys/usr/lib/cups/filter/)
	install -o root -g root -m 644 debian/cupsys.default debian/cupsys/etc/default/cupsys
binary-post-install/libcupsimage2-dev::
	#(cd debian/libcupsimage2-dev && patch -p0 < ../image.h.patch)
	rm -r debian/libcupsimage2-dev/usr/share/doc/libcupsimage2-dev
	ln -s libcupsimage2 debian/libcupsimage2-dev/usr/share/doc/libcupsimage2-dev
binary-post-install/libcupsys2-gnutls10::
	rm -r debian/libcupsys2-gnutls10/usr/share/doc/libcupsys2-gnutls10
	ln -s libcupsys2 debian/libcupsys2-gnutls10/usr/share/doc/libcupsys2-gnutls10
binary-post-install/cupsys-bsd::
	rm -r debian/cupsys-bsd/usr/share/doc/cupsys-bsd
	ln -s libcupsys2 debian/cupsys-bsd/usr/share/doc/cupsys-bsd
binary-post-install/libcupsys2-dev::
	rm -r debian/libcupsys2-dev/usr/share/doc/libcupsys2-dev
	ln -s libcupsys2 debian/libcupsys2-dev/usr/share/doc/libcupsys2-dev
binary-post-install/cupsys-client::
	rm -r debian/cupsys-client/usr/share/doc/cupsys-client
	ln -s libcupsys2 debian/cupsys-client/usr/share/doc/cupsys-client
